
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

dialog:not([open]) {
    display: none;
}



header{
    position: absolute;
    background-color: #8D0085;
    left: 0%;
    top: 0%;
    height: 125px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    

    .btn-icono{
        background-color: transparent;
        border: none;


    }

    #logo_DOA{
        height: 57px;
        width: 201px;
    }

    #icono_notificaciones{
        position: absolute;
        right: 100px;
        bottom: 30%;
        height: 60px;
        width: 61px;
    }

    #icono_perfil{
        height: 70px;
        width: 71px;
    }

    h4{
        position: fixed;
        left: 185px;
        font-family: 'Mulish', sans-serif;
        color: #FFFFFF;
        font-size: 19px;
    }

    #popup_perfil{
        position: fixed;
        width: 508px;
        top: 125px;
        height: 117px;
        left: auto;

    }

    #popup_notificaciones{
        position: fixed;
        width: 495px;
        top: 125px;
        height: 100%;
        left: auto;

    }


}

aside{
    position: fixed;  
    top: 125px;        
    left: 0;
    height: 100%;


    #icono-hamburguesa{
        position: absolute;
        border: none;
        background-color: transparent;
        z-index: 1001;
        top:20px;
        left: 10px;
    }

    #popup_hamburguesa{
        position: absolute;
        width: 351px;
        top: 0;
        height: 100%;
        padding-top: 100px;
        z-index: 1000;
        border: 2px solid #8D0085;
    }

    div{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;


        summary{
            list-style: none;
            border: 2px solid #8D0085;
            user-select: none;
            border-radius: 10px;
            text-align: center;
            height: 53px;
            width: 223px;
            background-color: #8D0085;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Mulish', sans-serif;
            color: #FFFFFF;
            font-size: 24px;

        }

        #boton-anuncios{
            border: 2px solid #8D0085;
            user-select: none;
            border-radius: 10px;
            text-align: center;
            height: 53px;
            width: 223px;
            background-color: #8D0085;
            flex-shrink: 0;
            margin-top: 30px;
            font-family: 'Mulish', sans-serif;
            color: #FFFFFF;
            font-size: 24px;
        }


        details > button{
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 60px;
            border: 2px solid #0455AD;
            background-color: transparent;
            border-radius: 10px;
            width: 150px;
            height: 49px;
            align-items: center;
            justify-content: center;
            font-family: 'Mulish', sans-serif;
            color: #000000;
            font-size: 19px;
        }

        a{
            text-decoration: none;
            
        }

        details > dialog{
            border: 2px solid #8D0085;
            position: absolute;
            left: 100%;
            top: 0;
            margin-top: 60px;
            width: 450px;
            height: 500px;
            display: flex;
            flex-wrap: wrap;

            gap: 20px;
            align-content: flex-start;


            a > button{
                display: flex;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 45px;
                border: 2px solid #0455AD;
                background-color: transparent;
                border-radius: 10px;
                width: 150px;
                height: 49px;
                align-items: center;
                justify-content: center;
                font-family: 'Mulish', sans-serif;
                color: #000000;
                font-size: 19px;


            }

            .boton-cerrar{
                border:solid #0455AD;
                background-color: #0455AD;
                border-radius: 10px;
                width: 230px;
                height: 56px;
                align-items: center;
                justify-content: center;
                font-family: 'Mulish', sans-serif;
                color: #FFFFFF;
                font-size: 19px;
                position: relative;
                top: 330px;

            }
            
            a {
                display: contents;
            }

        }



    }
}

@media (max-width: 460px)
{

header{
    position: fixed;
    height: 51px;
    width: 337px;
    align-items: center;
    border-radius: 20px;
    left: 27px;
    top: 10px;

    h4{
        display: none;
    }

    #icono_notificaciones{
        position: absolute;
        right: 100px;
        bottom: 23%;
        height: 30px;
        width: 28px;
    }

    #icono_perfil{
        height: 39px;
        width: 35px;
    }

    #logo_DOA{
        height: 24px;
        width: 84px;
    }

    #popup_notificaciones{
        width: 334px;
        right: 10px;
    }


}


aside
{


    top: 125px;
    margin-left: 30px;   
    margin-top: 99px;     
    height: 100%;

    #icono-hamburguesa{
        position: fixed;
        border: none;
        background-color: transparent;
        width: 32px;
        height: 25px;
        filter: brightness(0) invert(1);
        top: 23px;
        left: 277px;

    }

    #popup_hamburguesa{
        position: absolute;
        width: 301px;
        top: 0;
        height: 100%;
        padding-top: 20px;
        z-index: 1000;
        border: 2px solid #8D0085;
    }

    div{
        
        summary{
            width: 170px;
            height: 53px;
            font-size: 19px;
        }

        details > button{
            margin-left: 15px;
            width: 157px;
            height: 41px;
            align-items: center;
            justify-content: center;
            font-size: 16px;
        }

        #boton-anuncios{
            width: 170px;
            height: 53px;
            font-size: 19px;
        }


        details > dialog{
            position: fixed;
            width: 340px;
            height: 500px;
            top: 160px;
            left: 0%;
            gap: 20px;
            

            a > button{
                margin-left: 0px;
                width: 157px;
                height: 41px;
                top: 100px;
                align-items: center;
                justify-content: center;
                font-size: 16px;

            }

            .boton-cerrar{
                top: 240px;
                left: 170px;
                width: 168px;
                height: 50px;
                font-size: 18px;

            }


        }


    }


}


}

